{% extends 'base.html' %}

{% block content %}
  <!-- Create folder form -->
  <h2>Create Folder</h2>
  <form method="post"
    enctype="multipart/form-data"
    action="{% if folder %}
      {% url 'folder_create' folder.id %}
    {% else %}
      {% url 'folder_create' %}
    {% endif %}">
    {% csrf_token %}
    <input type="text" id="name" name="name" placeholder="Folder name" required />
    <button type="submit">Create</button>
  </form>
  {% if errors.folder_error %}
    <p>{{ errors.folder_error }}</p>
  {% endif %}

  <!-- Upload file form -->
  <h2>Upload File:</h2>
  <form method="post"
    enctype="multipart/form-data"
    action="{% if folder %}
      {% url 'upload_file' folder.id %}
    {% else %}
      {% url 'upload_file' %}
    {% endif %}">
    {% csrf_token %}
    <input type="file" name="file" />
    <button type="submit">Upload</button>
  </form>
  {% if errors.file_error %}
    <p>{{ errors.file_error }}</p>
  {% endif %}

  <!-- List all user folders -->
  <h2>User Folders:</h2>
  <ul>
    {% for folder in folders %}
      <li>
        <a href="{% url 'folder_detail' folder.id %}">{{ folder.name }}</a>
      </li>
    {% empty %}
      <li>No folders found.</li>
    {% endfor %}
  </ul>

  <!-- List all user files -->
  <h2>User Files:</h2>
  <ul>
    {% for file in files %}
      <li>{{ file.name }}</li>
    {% empty %}
      <li>No files found.</li>
    {% endfor %}
  </ul>
{% endblock %}
