{% extends 'base.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" id="username" name="username" placeholder="Username" required />
    <input type="password" id="password" name="password" placeholder="password" required />
    <button type="submit">Login</button>
  </form>
  <a href="{% url 'signup' %}">Or create an account</a>
  {% if errors.login_error %}
    <p>{{ errors.login_error }}</p>
  {% endif %}
{% endblock %}
