{% extends 'base.html' %}

{% block content %}
  <h2>Signup</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" id="username" name="username" placeholder="Username" required />
    <input type="password" id="password" name="password" placeholder="password" required />
    <button type="submit">Signup</button>
  </form>
  <a href="{% url 'login' %}">Or login</a>
  {% if errors.signup_error %}
    <p>{{ errors.signup_error }}</p>
  {% endif %}
{% endblock %}
